<link rel="stylesheet" href="/css/bucket.css">


<div class="bucket">
<div class="bucket">
<img src="{{this.image}}">
</div>
<div class="column">
<p class="image">{{this.title}}</p>
<p>{{this.body}}</p>
<p>{{this.state}}</p>
<p>{{this.city}}</p>
<p>{{this.available}}</p>
<p>{{this.price}}</p>
</div>
</div>