<link href="/css/main.css"
      rel="stylesheet">

<div class="flex-center">
  <div class="solo-card-wrap">
    <div class="link-card"
         style="max-width: 450px">
      <img alt="Card"
           class="card-image"
           src="/{{card.image}}">
    </div>
    <div class="card-info">
      <span>{{card.title}}</span>
      <span>{{card.body}}</span>
      <span class="price">ЦЕНА: {{card.price}} Р</span>
      <span>{{city}}</span>
      <span>{{date}}</span>
    </div>
    <button class="btn btn-success"
            type="button">Купить
    </button>
    <div class="buyer"><a href="/user/profile/{{this.User.id}}">{{this.User.name}}</a></div>

  </div>
</div>
